<div class="card" style="width: 18rem;">
   <img class="card-img-top" [src]="pais.flags.png" alt="Paris">
   <div class="card-body">
     <h5 class="card-title">{{pais.name.official}}</h5>
     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

     <ul class="list-group list-group-flush">
       <li class="list-group-item">Capital:{{pais.capital}}</li>
       
     </ul>
     <a href="#" class="btn btn-primary" [routerLink]="['/detallePais',pais.name.official]">Ver detalle</a>
   </div>
 </div>
